<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>Controlador.Controlador</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>MotorDecision</servlet-name>
        <servlet-class>Controlador.MotorDecision</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorSolicitudes</servlet-name>
        <servlet-class>Controlador.ControladorSolicitudes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorEntrevistas</servlet-name>
        <servlet-class>Controlador.ControladorEntrevistas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorReportes</servlet-name>
        <servlet-class>Controlador.ControladorReportes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>MotorDecision</servlet-name>
        <url-pattern>/MotorDecision</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorSolicitudes</servlet-name>
        <url-pattern>/ControladorSolicitudes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorEntrevistas</servlet-name>
        <url-pattern>/ControladorEntrevistas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorReportes</servlet-name>
        <url-pattern>/ControladorReportes</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
